<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PSE Edge Dividend News</title>
</head>
<body>
    <div class="entry">
        <h1>Today's Dividend Updates</h1>
        <div class="body">
            <p>Good afternoon. Here are today's dividend announcements for (date).</p>
            <p>Please refer to the table below for details.</p>
        </div>
    </div>
</body>
</html>